{{!-- We check for header action and load additional components --}}
{{#match @custom.header_action "!=" "None"}}

    {{#match @custom.header_action "Search and Portal links"}}
        {{!-- Desktop version --}}
        <div class="hidden lg:flex items-center justify-end hideOnScroll lg:[&.scrolled]:opacity-0 lg:[&.scrolled]:translate-x-8 w-1/4 transition-all duration-300 gap-x-2">
            {{!-- Search icon --}}
            <a href="#" data-ghost-search class="px-2 py-3 transition-opacity duration-300 hover:opacity-80" title="{{t "Search the website"}}">
                {{> "icons/search"}}
            </a>

            {{!-- Portal links --}}
            {{> "portal-links-header"}}
        </div>
        {{!-- Mobile version with Sign in and Subscribe buttons --}}
        <div class="block lg:hidden mobile-portal-links">
            {{#unless @member}}
                {{#unless @site.members_invite_only}}
                    <a href="#/portal/signin" data-portal="signin" class="block w-full text-center mb-3 text-sm font-display uppercase text-gray-900 hover:text-accent transition-colors duration-300">{{t "Sign in"}}</a>
                {{else}}
                    <a href="#/portal/signin" data-portal="signin" class="gh-button font-display uppercase bg-acc text-white leading-none rounded-3xl px-6 h-[48px] tracking-wider flex items-center justify-center text-sm hover:opacity-80 transition-opacity macaw-button w-full">{{t "Sign in"}}</a>
                {{/unless}}
            {{else}}
                <a href="#/portal/account" data-portal="account" class="gh-button font-display uppercase bg-acc text-white leading-none rounded-3xl px-6 h-[48px] tracking-wider flex items-center justify-center text-sm hover:opacity-80 transition-opacity macaw-button w-full">{{t "Account"}}</a>
            {{/unless}}
        </div>
    {{/match}}

{{/match}}