<!-- social links -->
<div class="hideOnScroll lg:[&.scrolled]:opacity-0 lg:[&.scrolled]:translate-x-8 w-1/4 transition-all duration-300 text-right text-lg hidden lg:flex lg:items-center lg:justify-end">
    <ul class="inline-flex items-center navbar macaw-social">
        {{#if @site.facebook}}
            <li class="inline-flex items-center duration-300 hover:opacity-75 transition-op">
                <a href="https://facebook.com/{{@site.facebook}}"
                   class="px-2 py-3 transition-opacity duration-300 hover:opacity-80"
                   title="{{t "Follow me on Facebook"}}">
                    {{> "icons/facebook"}}
                </a>
            </li>
        {{/if}}
        {{#if @site.twitter}}
            <li class="inline-flex items-center duration-300 hover:opacity-75 transition-op">
                <a href="https://twitter.com/{{@site.twitter}}"
                   class="px-2 py-3 transition-opacity duration-300 hover:opacity-80" title="{{t "Follow me on X"}}">
                    {{> "icons/twitter"}}
                </a>
            </li>
        {{/if}}
        {{#if showSearch}}
            <li class="inline-flex items-center duration-300 hover:opacity-75 transition-op">
                <a href="#" data-ghost-search class="px-2 py-3 transition-opacity duration-300 hover:opacity-80"
                   title="{{t "Search the website"}}">
                    {{> "icons/search"}}
                </a>
            </li>
        {{/if}}
    </ul>
</div>
<!-- end of social links -->
