{{!< default}}
<div class="container {{#match @custom.post_list_display "!=" "Big list"}} max-w-[920px] mx-auto {{/match}}">

    {{#tag}}
        <header class="pb-4 border-b gh-page-head border-b-gray-200 {{#match @custom.post_list_display "!=" "Big list"}} mb-6 {{/match}}">
            <br><br><br><br>
            <h1 class="mb-1 text-3xl font-bold leading-snug lg:mb-3 md:text-3xl lg:text-5xl font-display">
                Téma z pod třešně: {{name}}
            </h1>

            <p class="font-normal md:leading-relaxed md:mt-13 text-md md:text-lg md:max-w-xl opacity-80">
                {{#if description}}
                    {{description}}
                {{else}}
                    {{t "A collection of "}} <span class="text-gray-900">{{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}</span>
                {{/if}}
            </p>
        </header>
    {{/tag}}

    <div class="grid grid-cols-1 divide-y divide-solid gh-feed">

        {{#foreach posts}}

            {{#match @custom.post_list_display "==" "Big list"}}
                {{> "card" }} {{!-- partials/card.hbs --}}
            {{/match}}

            {{#match @custom.post_list_display "==" "Small list"}}
                {{> "card-small" }} {{!-- partials/card-small.hbs --}}
            {{/match}}

            {{#match @custom.post_list_display "==" "Minimal list"}}
                {{> "card-minimal" }} {{!-- partials/card-minimal.hbs --}}
            {{/match}}

        {{/foreach}}


    </div>

    {{pagination}}

    {{!-- If JS isn't enabled, fallback to standard pagination --}}
    <noscript>
        <div class="gh-pagination">
            {{pagination}}
        </div>
    </noscript>

</div>